<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.board.dao.BoardMapper">
  <!-- 목록 읽기 -->
  <select id="boardListData" resultType="com.it.board.vo.BoardVO" 
    parameterType="hashmap">
    SELECT no,subject,name,DATE_FORMAT(regdate,'%Y-%m-%d') as dbday,hit
    FROM board ORDER BY no DESC
    LIMIT #{start},#{end}
  </select>
  <!-- 총페이지 구하기 -->
  <select id="boardTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM board
  </select>
  <!-- 조회수 증가 -->
  <update id="hitIncrement" parameterType="int">
    UPDATE board SET
    hit=hit+1
    WHERE no=#{no}
  </update>
  <!-- 상세보기 -->
  <select id="boardDetailData" resultType="com.it.board.vo.BoardVO" parameterType="int">
    SELECT no,name,subject,content,DATE_FORMAT(regdate,'%Y-%m-%d') as dbday,hit
    FROM board
    WHERE no=#{no}
  </select>
  <!-- 수정  -->
  <!-- 삭제 -->
</mapper>


